h6,
p {
  margin: 0;
}

:root {
  --color-brown: #52503b;
  --color-white: #f9fcff;
  --color-yellow-light: #faf8f0;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: var(--color-brown);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 120px 10px 120px;
}

.header_btn {
  background: var(--color-white);
  color: var(--color-brown);
  width: 117px;
  font-size: 17px;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  height: 42px;
}

.header img {
  width: 128px;
  height: 45px;
}

.header_contact-block__link {
  padding-left: 10px;
  font-size: 18px;
  text-decoration: none;
  color: var(--color-white);
}

@media (max-width: 756px) {
  .header img {
    padding: 10px 0 10px 0;
  }
  .header_contact-block {
    padding-bottom: 10px;
  }
}

.main {
  height: 800px;
  background: url("./images/back-house.png") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.main__logo {
  width: 256px;
  height: 90px;
  margin-bottom: 34px;
}

.main_text {
  text-align: center;
  color: var(--color-white);
  font-family: "Montserrat";
  font-size: 48px;
  line-height: 53px;
  margin-bottom: 34px;
}

.main_text p {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-white);
  opacity: 0.6;
  margin-bottom: 116px;
}

.block-decription {
  padding: 50px 0;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-yellow-light);
}

.block-decription_btn {
  background: var(--color-brown);
  width: 107px;
  color: var(--color-white);
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  height: 42px;
}

.block-decription_text-block-first {
  padding-right: 40px;
  width: 360px;
  height: auto;
}

.block-decription_text-block-second {
  width: 343px;
  height: auto;
}

.block-decription_text-block-second p {
  margin-top: -12px;
  margin-bottom: 19px;
}

.block-decription .decoration-line {
  position: relative;
  left: 95.5%;
  bottom: 27px;
}

.block-caps {
  background-color: var(--color-white);
  height: 568px;
}

.block-caps__text {
  width: 1287px;
  height: 288px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  text-align: center;
  color: var(--color-brown);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-caps__text img {
  width: 41px;
  height: auto;
  margin-bottom: 35px;
}

@media (max-width: 772px) {
  .block-caps__text {
    font-size: 70px;
    padding: 20px;
    word-break: break-all;
  }
}

@media (max-width: 500px) {
  .block-caps__text {
    font-size: 50px;
  }
}

.block-caps .decoration-line {
  position: relative;
  left: 38%;
  bottom: 40%;
}

.background-nightstand {
  background: url("./images/nightstand.png") no-repeat center;
  background-size: cover;
  height: 600px;
  width: auto;
}

.background-kitchen {
  background: url("./images/kitchen.png") no-repeat center;
  background-size: cover;
  height: 600px;
  width: auto;
}

.block-arrangements {
  background: var(--color-yellow-light);
  border-radius: 0px;
  width: auto;
  padding-bottom: 20px;
}

.block-arrangements h6 {
  font-size: 17px;
  color: var(--color-brown);
  margin-top: 5px;
}

.block-arrangements p {
  color: var(--color-brown);
  margin: 5px;
}

.block-arrangements_sleeping-block {
  text-align: center;
}

.block-arrangements_sleeping-block div {
  padding-top: 40px;
}

.block-arrangements_sleeping-block div h3 {
  color: var(--color-brown);
  font-size: 30px;
}

.block-arrangements_sleeping-block div p {
  color: var(--color-brown);
  max-width: 32%;
  position: relative;
  left: 34%;
}

.block-arrangements_chair-block {
  text-align: center;
  width: 240px;
}

@media (max-width: 1000px) {
  .block-arrangements_chair-block {
    padding: 10px;
  }
}

.block-arrangements_door-block {
  text-align: center;
  width: 240px;
}

.block-arrangements_bedrooms-block {
  text-align: center;
  width: 240px;
}

.flex-setting {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 50px;
}

.block-6 {
  background: var(--color-white);
}

.block-6_header {
  padding-top: 3%;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-6_header h3 {
  color: var(--color-brown);
}

.block-6_header p {
  color: var(--color-brown);
  font-size: 18px;
  max-width: 450px;
}

.block-6_header .decoration-line {
  width: 45px;
}

.block-6_body {
  padding: 0 10% 2% 10%;
}

.block-6_body img {
  width: 27px;
  height: auto;
}

.block-6_body__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-6_body__flex div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 490px;
  padding: 10px 0 10px 0;
  text-align: left;
}

.block-6_body__flex div h6 {
  max-width: 130px;
  color: var(--color-brown);
  padding-left: 10px;
  font-size: 17px;
}

.block-6_body__flex div p {
  word-break: break-word;
  max-width: 468px;
  padding-left: 10px;
  color: var(--color-brown);
}

.block-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--color-yellow-light);
  border: 1px solid rgba(82, 80, 59, 0.1);
}

.block-7_body {
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--color-white);
  max-width: 584px;
  max-height: 266px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  margin: 10px 10px 50px 10px;
}

.block-7__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5%;
}

.block-7_header {
  margin-top: 5%;
  text-align: center;
}

.block-7_header h3 {
  font-size: 20px;
  color: var(--color-brown);
}

.block-7_header p {
  color: var(--color-brown);
}

.block-8 {
  height: 366px;
  background: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-8_header {
  margin-top: 20px;
  width: 548px;
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.block-8_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 249px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 700px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.block-8_body div {
  width: 332px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-8_body div img {
  padding-right: 10px;
}

.block-9 {
  height: 478px;
  background: var(--color-yellow-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-9_header {
  width: 500px;
  text-align: center;
}

.block-9_header h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: var(--color-brown);
}

.block-9_header p {
  text-align: center;
  color: var(--color-brown);
}

.block-9_header__btn {
  width: 116px;
  height: 52px;
  border: 4px solid var(--color-brown);
  background: var(--color-white);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
  margin-right: 20px;
  color: var(--color-brown);
}

.block-9_header__btn-2 {
  width: 116px;
  height: 52px;
  background: var(--color-brown);
  border-radius: 6px;
  color: var(--color-white);
}

.block-10 {
  background: var(--color-brown);
}

.block-10_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
}

.block-10_pages a {
  text-decoration: none;
  color: var(--color-white);
  padding: 5px;
}

.block-10_pages p {
  font-size: 17px;
  padding: 20px 0 20px 5px;
}

.block-10_social {
  padding: 10px;
}

.block-10_social p {
  font-size: 17px;
  padding: 5px;
  text-align: center;
  width: 174px;
  padding: 20px 0;
}

.block-10_social img {
  padding-left: 28px;
}

.block-10_email {
  padding: 10px;
  max-width: 335px;
  position: relative;
}

.block-10_email input {
  width: 320px;
  height: 30px;
  border-radius: 6px;
}

.block-10_email input::-webkit-input-placeholder {
  padding-left: 10px;
}

.block-10_email input:-ms-input-placeholder {
  padding-left: 10px;
}

.block-10_email input::-ms-input-placeholder {
  padding-left: 10px;
}

.block-10_email input::placeholder {
  padding-left: 10px;
}

@media (max-width: 280px) {
  .block-10_email input {
    width: 260px;
  }
}

.block-10_email p {
  padding: 20px 0;
}

.block-10_email button {
  position: absolute;
  bottom: 22.5%;
  z-index: 999999;
  left: 74%;
  color: var(--color-white);
  background: var(--color-brown);
}

@media (max-width: 655px) {
  .block-10_email button {
    bottom: 7.5%;
  }
}

.block-10_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-10_contact p {
  padding: 20px 0;
}

.block-10_contact img {
  margin-top: 20px;
}

.block-10 p {
  text-align: center;
  color: var(--color-white);
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.flex-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=index.css.map */