@mixin flex {
  display: flex;
  align-items: center;
}
@mixin settingBtn {
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  height: 42px;
}
h6,
p {
  margin: 0;
}
:root {
  --color-brown: #52503b;
  --color-white: #f9fcff;
  // --color-blue-lightness: #CEE5FA;
  --color-yellow-light: #faf8f0;
  // --color-light-blue: #189BE4;
  // --color-blue: #007EC5;
  // --color-black: #1D2732;
  // --color-light-gray: #EBECEF;
  // --color-gray: #B3B6BB;
  // --color-red: #FE5F5F;
  // --color-pink: #E757B6;
  // --color-green: #65C00F;
  // --color-magenta: #7645BA;
}
body {
  padding: 0;
  margin: 0;
}
.header {
  background: var(--color-brown);
  justify-content: space-between;
  @include flex;
  padding: 5px 120px 10px 120px;
  &_btn {
    background: var(--color-white);
    color: var(--color-brown);
    width: 117px;
    font-size: 17px;
    @include settingBtn;
  }
  img {
    width: 128px;
    height: 45px;
  }
  &_contact-block {
    &__link {
      padding-left: 10px;
      font-size: 18px;
      text-decoration: none;
      color: var(--color-white);
    }
  }
}
.main {
  height: 800px;
  background: url("./images/back-house.png") no-repeat center;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &__logo {
    width: 256px;
    height: 90px;
    margin-bottom: 34px;
  }
  &_text {
    text-align: center;
    color: var(--color-white);
    font-family: "Montserrat";
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 34px;
    p {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: var(--color-white);
      opacity: 0.6;
      margin-bottom: 116px;
    }
  }
}
.block-decription {
  width: auto;
  @include flex;
  justify-content: center;
  background-color: var(--color-yellow-light);
  height: 410px;
  &_btn {
    background: var(--color-brown);
    width: 107px;
    color: var(--color-white);
    @include settingBtn;
  }
  &_text-block-first {
    padding-right: 40px;
    width: 360px;
    height: auto;
  }
  &_text-block-second {
    width: 343px;
    height: auto;
    p {
      margin-top: -12px;
      margin-bottom: 19px;
    }
  }
  .decoration-line {
    position: relative;
    left: 94.5%;
    bottom: top;
    top: 171%;
  }
}
.block-caps {
  background-color: var(--color-white);
  height: 568px;
  &__text {
    width: 1287px;
    height: 288px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: var(--color-brown);
  }
  .decoration-line {
    position: relative;
    left: 33.5%;
    top: -33%;
  }
}
.background-kitchen {
  background: url("./images/kitchen.png") no-repeat center;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 600px;
  width: auto;
}
.block-arrangements {
  background: var(--color-yellow-light);
  border-radius: 0px;
  width: auto;
  height: 530px;
  h6 {
    font-size: 17px;
    color: var(--color-brown);
    margin-top: 5px;
  }
  p {
    color: var(--color-brown);
    margin: 5px;
  }
  &_sleeping-block {
    text-align: center;

    div {
      h3 {
        color: var(--color-brown);
        font-size: 30px;
      }
      p {
        color: var(--color-brown);

        max-width: 32%;
        position: relative;
        left: 34%;
      }
      padding-top: 40px;
    }
  }
  &_chair-block {
    text-align: center;
    width: 240px;
  }
  &_door-block {
    text-align: center;
    width: 240px;
  }
  &_bedrooms-block {
    text-align: center;
    width: 240px;
  }
}
.flex-setting {
  justify-content: space-around;
  display: flex;
  padding-top: 50px;
}
