@mixin flex {
  display: flex;
  align-items: center;
}
@mixin settingBtn {
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  height: 42px;
}
h6,
p {
  margin: 0;
}
:root {
  --color-brown: #52503b;
  --color-white: #f9fcff;
  // --color-blue-lightness: #CEE5FA;
  --color-yellow-light: #faf8f0;
  // --color-light-blue: #189BE4;
  // --color-blue: #007EC5;
  // --color-black: #1D2732;
  // --color-light-gray: #EBECEF;
  // --color-gray: #B3B6BB;
  // --color-red: #FE5F5F;
  // --color-pink: #E757B6;
  // --color-green: #65C00F;
  // --color-magenta: #7645BA;
}
body {
  padding: 0;
  margin: 0;
}
.header {
  background: var(--color-brown);
  justify-content: space-between;
  @include flex;
  padding: 5px 120px 10px 120px;
  &_btn {
    background: var(--color-white);
    color: var(--color-brown);
    width: 117px;
    font-size: 17px;
    @include settingBtn;
  }
  img {
    width: 128px;
    height: 45px;
  }
  &_contact-block {
    &__link {
      padding-left: 10px;
      font-size: 18px;
      text-decoration: none;
      color: var(--color-white);
    }
  }
}
.main {
  height: 800px;
  background: url("./images/back-house.png") no-repeat center;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &__logo {
    width: 256px;
    height: 90px;
    margin-bottom: 34px;
  }
  &_text {
    text-align: center;
    color: var(--color-white);
    font-family: "Montserrat";
    font-size: 48px;
    line-height: 53px;
    margin-bottom: 34px;
    p {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: var(--color-white);
      opacity: 0.6;
      margin-bottom: 116px;
    }
  }
}
.block-decription {
  width: auto;
  @include flex;
  justify-content: center;
  background-color: var(--color-yellow-light);
  height: 410px;
  &_btn {
    background: var(--color-brown);
    width: 107px;
    color: var(--color-white);
    @include settingBtn;
  }
  &_text-block-first {
    padding-right: 40px;
    width: 360px;
    height: auto;
  }
  &_text-block-second {
    width: 343px;
    height: auto;
    p {
      margin-top: -12px;
      margin-bottom: 19px;
    }
  }
  .decoration-line {
    position: relative;
    left: 95.5%;
    bottom: 41px;
  }
}
.block-caps {
  background-color: var(--color-white);
  height: 568px;
  &__text {
    width: 1287px;
    height: 288px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    text-align: center;
    color: var(--color-brown);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 41px;
      height: auto;
      margin-bottom: 35px;
    }
  }
  .decoration-line {
    position: relative;
    left: 38%;
    bottom: 40%;
  }
}
.background-nightstand {
  background: url("./images/nightstand.png") no-repeat center;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 600px;
  width: auto;
}
.background-kitchen {
  background: url("./images/kitchen.png") no-repeat center;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 600px;
  width: auto;
}
.block-arrangements {
  background: var(--color-yellow-light);
  border-radius: 0px;
  width: auto;
  height: 530px;
  h6 {
    font-size: 17px;
    color: var(--color-brown);
    margin-top: 5px;
  }
  p {
    color: var(--color-brown);
    margin: 5px;
  }
  &_sleeping-block {
    text-align: center;

    div {
      h3 {
        color: var(--color-brown);
        font-size: 30px;
      }
      p {
        color: var(--color-brown);
        max-width: 32%;
        position: relative;
        left: 34%;
      }
      padding-top: 40px;
    }
  }
  &_chair-block {
    text-align: center;
    width: 240px;
  }
  &_door-block {
    text-align: center;
    width: 240px;
  }
  &_bedrooms-block {
    text-align: center;
    width: 240px;
  }
}
.flex-setting {
  justify-content: space-around;
  display: flex;
  padding-top: 50px;
}
.block-6 {
  height: 726px;
  background: var(--color-white);
  &_header {
    padding-top: 3%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    h3 {
      color: var(--color-brown);
    }
    p {
      color: var(--color-brown);
      font-size: 18px;
      max-width: 450px;
    }
    .decoration-line {
      width: 45px;
    }
  }
  &_body {
    padding-left: 10%;
    padding-right: 10%;
    height: 500px;
    img {
      width: 27px;
      height: auto;
    }
    &__flex {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      div {
        @include flex;
        width: 490px;
        padding: 10px 0 10px 0;
        text-align: left;
        h6 {
          max-width: 130px;
          color: var(--color-brown);
          padding-left: 10px;
          font-size: 17px;
        }
        p {
          max-width: 380px;
          word-break: break-word;
          max-width: 468px;
          padding-left: 10px;
          color: var(--color-brown);
        }
      }
      .div1 {
        grid-area: 2 / 1 / 3 / 2;
      }
      .div2 {
        grid-area: 1 / 1 / 2 / 2;
      }
      .div3 {
        grid-area: 3 / 1 / 4 / 2;
      }
      .div4 {
        grid-area: 4 / 1 / 5 / 2;
      }
      .div5 {
        grid-area: 1 / 5 / 2 / 6;
      }
      .div6 {
        grid-area: 2 / 5 / 3 / 6;
      }
      .div7 {
        grid-area: 3 / 5 / 4 / 6;
      }
      .div8 {
        grid-area: 4 / 5 / 5 / 6;
      }
    }
  }
}
.block-7 {
  display: flex;
  flex-direction: column;
  height: 682px;
  background: var(--color-yellow-light);
  border: 1px solid rgba(82, 80, 59, 0.1);
  &_body {
    border-radius: 4px;
    box-sizing: border-box;
    background: var(--color-white);
    width: 584px;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
  }
  &__flex {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
  }
  &_header {
    margin-top: 5%;
    text-align: center;
    h3 {
      font-size: 20px;
      color: var(--color-brown);
    }
    p {
      color: var(--color-brown);
    }
  }
}
.block-8 {
  height: 366px;
  background: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &_header {
    width: 548px;
    height: 114px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
  }
  &_body {
    display: flex;
    height: 249px;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
    justify-content: space-around;
    div {
      width: 332px;
      display: flex;
      align-items: center;
      img {
        padding-right: 10px;
      }
    }
  }
}
.block-9 {
  height: 478px;
  background: var(--color-yellow-light);
  display: flex;
  justify-content: center;
  align-items: center;
  &_header {
    width: 500px;
    text-align: center;
    h3 {
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;
      text-align: center;
      color: var(--color-brown);
    }
    p {
      text-align: center;
      color: var(--color-brown);
    }

    &__btn {
      width: 116px;
      height: 52px;
      border: 4px solid var(--color-brown);
      background: var(--color-white);
      box-sizing: border-box;
      border-radius: 6px;
      margin-right: 20px;
      color: var(--color-brown);
    }
    &__btn-2 {
      width: 116px;
      height: 52px;
      background: var(--color-brown);
      border-radius: 6px;
      color: var(--color-white);
    }
  }
}
.block-10 {
  height: 608px;
  background: var(--color-brown);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  &_pages {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
  }
  &__social {
    grid-area: 2 / 4 / 3 / 5;
    display: flex;
    flex-direction: column;
  }
  &_email {
    grid-area: 2 / 6 / 3 / 7;
  }
  &_contact {
    grid-area: 4 / 4 / 5 / 5;
  }
}
.mt-20 {
  margin-top: 20px;
}
